*.httr-oauth
*.Rhistory
*.git/
*.Rproj.user/
~/.secrets/R/NAMCr/.httr-oauth
*.Rproj
*.Rproj.user
*.csv
*.Rbuildignore
*.shp
*.dbf
*.docx
*.xlsx
*.prj
*.shp
*.shx
*.geojson
Config.R
.Rproj.user
*.zip
*.sqlite
*.tif

